/build/
/build-*/
/bin/*
!/bin/.gitkeep
/include/curses*.h
/include/cursslk.h
/include/eti.h
/include/etip.h
/include/form.h
/include/menu.h
/include/ncurses*.h
/include/panel.h
/include/readline/
/include/term*.h
/include/unctrl.h
/lib/
/ncurses/
/readline/
/share/
/.openai/
